.userInfo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.userInfo div {
    display: flex;
    margin: 10px 20px;
}

.userInfo div div {
    width: 200px;
}

.historyTable {
    margin-top: 50px;
    margin-bottom: 50px;
}