<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/commonStyles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
    <nav th:insert="blocks/header :: header"></nav>
        <div class="heading">
            <h1>Main page</h1>
        </div>
        <div>
            Текст 1
        </div>
    </body>
</html>