<nav th:fragment="header">
    <div class="container">
        <ul class="navbar-ul">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/user">Users</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-ul">
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>