<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/commonStyles.css">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary m-horizon" th:fragment="header" style="margin-top: 2%; margin-bottom: 2%">
            <div style="justify-content: space-between" class="container-fluid">
                <a class="navbar-brand" href="/">Главная</a>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/flight">Рейсы</a>
                        <a sec:authorize="hasAuthority('ADMIN')" class="nav-link active" aria-current="page" href="/user">Пользователи</a>
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>

            <div class="navbar-nav">
                <a class="nav-link" href="/login">Вход</a>
                <a class="nav-link" href="/account">Профиль</a>
            </div>
        </nav>
    </body>
</html>